<a href="https://colab.research.google.com/github/lsy0804/crawlingDay02/blob/main/%EB%84%A4%EC%9D%B4%EB%B2%84_%EC%98%81%ED%99%94%ED%8F%89%EC%A0%90_%ED%81%AC%EB%A1%A4%EB%A7%81_Day02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests #인터넷 연결 라이브러리 
from bs4 import BeautifulSoup as bs #데이터 분석 쉽게 처리 
import pandas as pd # 데이터 분석 라이브러리

In [2]:
url = " https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=20220112 "
html = requests.get(url)
soup = bs(html.text)

In [12]:
soup.select("div.tit5 > a") # 앞에서와 다르게 안쪽에서 파고드는 ~, class명으로 찾는게 가장 편리한 듯

[<a href="/movie/bi/mi/basic.naver?code=187320" title="씽2게더">씽2게더</a>,
 <a href="/movie/bi/mi/basic.naver?code=19031" title="러브레터">러브레터</a>,
 <a href="/movie/bi/mi/basic.naver?code=208077" title="스파이더맨: 노 웨이 홈">스파이더맨: 노 웨이 홈</a>,
 <a href="/movie/bi/mi/basic.naver?code=27350" title="기쿠지로의 여름">기쿠지로의 여름</a>,
 <a href="/movie/bi/mi/basic.naver?code=32588" title="아멜리에">아멜리에</a>,
 <a href="/movie/bi/mi/basic.naver?code=31607" title="고양이를 부탁해">고양이를 부탁해</a>,
 <a href="/movie/bi/mi/basic.naver?code=205623" title="드라이브 마이 카">드라이브 마이 카</a>,
 <a href="/movie/bi/mi/basic.naver?code=210282" title="엔칸토: 마법의 세계">엔칸토: 마법의 세계</a>,
 <a href="/movie/bi/mi/basic.naver?code=196809" title="연애 빠진 로맨스">연애 빠진 로맨스</a>,
 <a href="/movie/bi/mi/basic.naver?code=159893" title="킹스맨: 퍼스트 에이전트">킹스맨: 퍼스트 에이전트</a>,
 <a href="/movie/bi/mi/basic.naver?code=187312" title="프렌치 디스패치">프렌치 디스패치</a>,
 <a href="/movie/bi/mi/basic.naver?code=75237" title="아웃레이지">아웃레이지</a>,
 <a href="/movie/bi/mi/basic.naver?code=190400" title="경관의 피">경관의 피</a>,
 <a href="/movie/bi/mi/basic.naver?code=182362" title="유체이탈자">유체이탈자</a>,
 <a href="/movie/bi/mi/basic.naver?code=204649" title="해피 뉴 이어">해피 뉴 이어</a>,
 <a href="/movie/bi/mi/basic.naver?code=191600" title="매트릭스: 리저렉션">매트릭스: 리저렉션</a>]

In [5]:
title_n = soup.select("div.tit5 > a")
len(title_n)

16

In [13]:
title_n[0].text

'씽2게더'

In [9]:
rating_n = soup.select("td.point")
len(rating_n)

16

In [10]:
rating_n[0].text

'9.40'

In [11]:
print(title_n[0].text)
print(rating_n[0].text)

씽2게더
9.40

In [ ]:
movies = soup.select("div.tit5 > a")

In [17]:
movie_list = []
rank = 1 
"""for i in range (16):
  print (title_n[i].text)
  print (rating_n[i].text)
  movie_list.append("rank",+i)
  movie_list.append(title_n[i].text)
  movie list.append(rating_n[i].text)
  """

for each in range(len(rating_n)):
  title = title_n[each].text
  rating = rating_n[each].text
  movie_list.append([rank, title, rating])
  rank += 1
df = pd.DataFrame(movie_list, columns = [" 순위", "제목", "평점"])
df

     순위             제목    평점
0     1           씽2게더  9.40
1     2           러브레터  9.12
2     3  스파이더맨: 노 웨이 홈  8.92
3     4       기쿠지로의 여름  8.92
4     5           아멜리에  8.81
5     6       고양이를 부탁해  8.81
6     7      드라이브 마이 카  8.65
7     8    엔칸토: 마법의 세계  8.30
8     9      연애 빠진 로맨스  8.29
9    10  킹스맨: 퍼스트 에이전트  8.11
10   11       프렌치 디스패치  8.00
11   12          아웃레이지  7.84
12   13          경관의 피  7.70
13   14          유체이탈자  7.56
14   15        해피 뉴 이어  7.07
15   16     매트릭스: 리저렉션  5.51